nav {
    width: 100%;
    position: fixed;
    margin-top: 50px;
    z-index:1;
    left: 0;
    display: inline-flex;
    justify-content: center;

  }
   
a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    display: block;
    padding: 2vh 3vw;
    font-size: 3vh;
    text-align:center;
    background-color: #79C39E;
}
.logo {
    display: inline-block;
    vertical-align: top;
    width: 50px;
    height: 50px;
    margin-right: 20px;
}

body{
    background-image: url(bakgrund...png);
    background-size: cover;
}

article{
    display: inline-flex;
    grid-row: 1fr 1fr;
    flex-direction: column;
    margin-bottom: 5vh;
    
    box-shadow: 1px 1px 30px 15px  #383431;
    margin-right: 15%;
    margin-left: 15%;
    padding-bottom: 5vh;
    border-radius: 2rem;
    background-color:   transparent;  
    margin-top: 10rem;
}
.inline-text {
    white-space: nowrap;
  }

pre, p{
    font-size: 1rem;
    padding-left: 7vw;
    padding-right: 10vw;
    margin: 0.2rem;
    margin-top: 0.2rem;
  }
img{
    width: 20%
}

.gridlayout{
    display:grid;
    grid-row: 1fr 1fr;
    
}
