nav {
    width: 100%;
    display:grid;
    grid-template-columns: 1fr 2fr 1fr;
    justify-content: center;
    align-items: center;
    background-color: #ee9b69;
  }
   
a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    display: flex;
    padding: 1vh 2vw;
    font-size: 4vh;
    text-align: center;
    border-style: solid;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    justify-content: center;
}
.logo {
    display: inline-block;
    vertical-align: top;
    width: 4rem;
    height: 4rem;
    padding: 1.5rem;
}
.div1{
    display:flex;
    justify-content: center;
}

body{
    background-image: url(bakgrund...png);
    background-attachment: fixed;
}


article {
    display: grid;
    grid-template-rows: 1fr 5fr;
    grid-template-columns: 2fr 3fr;
    box-shadow: 1px 1px 30px 15px  #383431;
    margin: 6rem 15% 0 15%;
    padding: 4rem 0 5vh 5rem;
    background-color:  #EAD1B5;
}

article img{
    grid-row: span 2;
}

.inline-text {
    white-space: nowrap;
  }

pre, p{
    font-size: 1rem;
    margin: 0.2rem;
    margin-top: 0.2rem;     
  }
.img1{
    width: auto;
    height: 65vh;
    padding: 4rem;
    padding-top:0;
}
.img2{
    width:auto;
    height: 65vh;
    padding: 2rem
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
  }

  
  
  footer {
    text-align: center;
    padding: 3px;
    background-color: DarkSalmon;
    color: white;
  }

h1{
    justify-self: center;
    align-self: center;
}
footer {
    color: #383431;
    padding: 20px;
    text-align: center;
}

