*{
  margin:0;
  padding:0;
}

nav {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  justify-content: center;
  align-items: center;
  background-color: #ee9b69;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  display: flex;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  text-align: center;
  border-style: solid;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-width: 0.4rem;
  border-color: #383431;
  justify-content: center;
  font-family: "Roboto", sans-serif;
}
.logo {
  display: flex;
  vertical-align: top;
  width: 3.5rem;
  height: 3.5rem;
  justify-self: left;
  align-self: center;
  padding: 1rem 1rem 1rem 1rem;
}
.div1 {
  display: flex;
  justify-content: center;
}
.div2{
  display:flex;
  flex-direction: column;
  margin-left: 10%;
}
body {
  background-image: url(bakgrund...png);
  background-attachment: fixed;
}

article {
  display: grid;
  grid-template-columns: 2fr 3fr;
  box-shadow: 1px 1px 30px 15px #383431;
  margin: 5rem 15% 0 15%;
  padding: 4rem ;
  background-color: #ead1b5;
  align-items: center;
  justify-content: center;
}

.article1{
  display: grid;
  grid-template-columns: 3fr 2fr;
  box-shadow: 1px 1px 30px 15px #383431;
  margin: 5rem 15% 0 15%;
  margin-top: 4rem;
  margin-bottom: 4rem;
  padding-right: 4rem;
  background-color: #ead1b5;
  align-items: center;
  justify-content: center;
}
.inline-text {
  white-space: nowrap;
}
h1 {
  font-family: "adelle", serif;
  font-weight: 800;
  font-style: normal;
  font-size: 3rem;
  text-align: center;
  padding-bottom: 2rem;
}

article p {
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  text-align: left;
}

.img1 {
  padding: 4rem;
  width: 90%;
  height: auto;
}
.img2 {
  padding: 1rem;
  width: 90%;
  height: auto;
}
header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
}

h1 {
  justify-self: center;
  align-self: center;
}
footer {
  color: #383431;
  padding: 3rem;
  grid-template-columns: 1fr 1.5fr 1fr;
  text-align: center;
  margin-top: 1.5rem;
  background-color: #ee9b69;
  display: grid;
  
}
footer p {
  border-style: solid;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  justify-content: center;
  border-width: 0.4rem;
  grid-column: 2;
  font-size: 22px; 
  padding-bottom: 0.5rem;
  margin-top: 1.1rem;
}

#section1 {
  text-decoration: none;
}
#section2 {
  text-decoration: none;
}
#section3{
    text-decoration: none;
}

/*@media screen and (max-width: 800px) {
    img{
        display: none;
    }
}*/

@media screen and (max-width: 800px) {
  nav {
    position: flex;
  }
  .div1,
  .div2 {
    margin: 0;
  }
  .img1{
    padding: 1rem;
  }
  a{
    font-size: 1.3rem;
    padding: 0.8rem 1.1rem
    
  }
  .div2 {
    margin-left: 0;
  }
  .logo{
    justify-self: center;
    align-self: center;
    padding-right: 0;
    margin-right: 0;
  }
  article,
  .article1 {
    margin: 7rem 5% 0 5%;
    padding: 2rem;
    grid-template-columns: 1fr;
  }

  footer {
    grid-template-columns: 1fr;
  }
  footer p {
    grid-column: 1;
  }
  .h11
  {
    font-size: 2.5rem !important;
    padding: 1rem;
    grid-template-columns: 1fr;
  }
  

}
 
.an{
  border-style: none;
  align-self: left;
  justify-content: left;
}
.h11{
  font-size: 5rem;
  text-align: center;
  align-self: center;
  justify-self: center;
  color: #ead1b5;
}
.article3{
  display:grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  background-image: url(startsida_bild1.png);
  padding-bottom: 0;
  background-color: none;
  background-size: cover;
}
.startbild{
  width: 5rem;
  height: 5rem;
}

.p1{
  font-size: 2rem;
  align-self: center;
  justify-content: center;
  text-align: center;
  color: #ead1b5;
}
.article4{
  margin-top: 0;
}
.p2{
  font-size: 2rem;
  align-self: center;
  justify-content: center;
  text-align: center;
}